<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="{{ asset('css/header.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/footer.css') }}" rel="stylesheet" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- UIkit CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.13/dist/css/uikit.min.css" />

            <!-- UIkit JS -->
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.13/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.13/dist/js/uikit-icons.min.js"></script>

        {% endblock %}
    </head>
    <body>

        <div class="uk-navbar-container" uk-navbar>

            <div class="uk-navbar-center">

                <div class="uk-navbar-item uk-logo uk-flex uk-flex-inline uk-flex-between">
                    <img  src="{{ asset('img/logo_symfony.png') }}" class="rounded logo_symfony">
                    <img  src="{{ asset('img/logo_simarro.png') }}" class="rounded logo_simarro">
                </div>
                

                <div class="button-group">
                    <a class="uk-button uk-button-default" href="{{ path('inici') }}">Inici</a>
                    <a class="uk-button uk-button-default" href="{{ path('dades_equip', {'codi': 1}) }}">Equips</a>
                    <a class="uk-button uk-button-default" href="#">#</a>
                    <a class="uk-button uk-button-default" href="#">#</a>
                    <a class="uk-button uk-button-default" href="#">#</a>
                </div>

                <div></div>

            </div>

        </div>

        {% block body %}{% endblock %}

        <footer id="footer" class="footer-distributed" uk-sticky="position: bottom">
        
            <div class="footer-center">

                <div>
                    <p>IES Luis Simarro</p>
                    <p>Curs 22 / 23</p>
                </div>

            </div>

        </footer>

    </body>

</html>
