{% block stylesheets %} <link href="{{ asset('css/dades_equip.css') }}" rel="stylesheet" /> {% endblock %}

{% block body %}    

    <h3 id="titolEquip" class="uk-margin-large-top">Dades de l'equip {{ equip.getId() }}</h3>

    <div class="uk-container uk-container-center uk-margin-large-top uk-overflow-auto">

        <img class="uk-container uk-container-center uk-margin-large-bottom" src="{{ asset('img/' ~ equip.getImatge()) }}">

        <table class="uk-table uk-table-divider">
    
            <thead>
                <tr>
                    <th>Codi</th>
                    <th>Equip</th>
                    <th>Cicle</th>
                    <th>Curs</th>
                    <th>Nota</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>{{ equip.getId() }}</td>
                    <td>{{ equip.getNom() }}</td>
                    <td>{{ equip.getCicle() }}</td>
                    <td>{{ equip.getCurs() }}</td>
                    <td>{{ equip.getNota() }}</td>
                </tr>

            </tbody>

        </table>

        <div id="membres" class="uk-card uk-card-default uk-card-body">

            <h3 class="uk-card-title">Membres</h3>

            <div class="uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>

                {# {% for membre in equip.membres %}
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">{{ membre }}</div>
                    </div>
                {% endfor %} #}

            </div>
        
        </div>

    </div>

{% endblock %}